name: Build Pico 2 W Rust Firmware

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install system dependencies
        run: sudo apt-get update && sudo apt-get install -y libudev-dev pkg-config

      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          target: thumbv8m.main-none-eabihf
          override: true
          components: rust-src

      - name: Install additional tools
        run: |
          rustup target add thumbv8m.main-none-eabihf
          cargo install elf2uf2-rs --locked

      - name: Clean build folder
        run: cargo clean

      - name: Build firmware
        run: cargo build --release --target thumbv8m.main-none-eabihf

      - name: Convert ELF to UF2
        run: |
          mkdir -p build
          elf2uf2-rs target/thumbv8m.main-none-eabihf/release/rust_wifi_from_embassy build/rust_wifi_from_embassy.uf2

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: rust_wifi_from_embassy
          path: build/rust_wifi_from_embassy.uf2
